* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
}

.product-div {
  height: 400px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid black;
  img {
    height: 180px;
    object-fit: cover;
  }
  h2 {
    margin-top: 10px;
  }
  p {
    margin-top: 8px;
  }
  button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.3 ease-out;
  }
  button:hover {
    background-color: #45a049;
  }
}
