* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
}

.product-div {
  height: 350px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid black;
  img {
    height: 180px;
    object-fit: cover;
  }
  h2 {
    margin-top: 10px;
  }
  p {
    margin-top: 8px;
  }
  button {
  }
}
